<!DOCTYPE html5>
<html>
	<head>
		<meta charset="UTF-8">
		<title>score</title>
	</head>
	<body>
		<label>id&nbsp;&nbsp;&#32;&#32;</label>&nbsp;<input type="text" name="" id="id" value="" /> <br />
		<label>name</label>&nbsp;&nbsp;&#32;&#32;<input type="text" name="" id="name" value="" /><br/>
		<label>math</label>&nbsp;&nbsp;&#32;&#32;<input type="text" name="" id="math" value="" /> <br />	
		<label>english</label>&nbsp;<input type="text" name="" id="english" value="" /> <br />	
		<label>physics</label>&nbsp;<input type="text" name="" id="physics" value="" /> <br />	
		<label>chinese</label>&nbsp;<input type="text" name="" id="chinese" value="" /> <br />	
		<label>history</label>&nbsp;<input type="text" name="" id="history" value="" /> <br/><br/>	
		<button>xx</button>&nbsp;&nbsp;<button>xx</button>
	
	</body>

<script>
	function show(){
		document.getElementById('id').value='{{res.0.0}}';
		document.getElementById('name').value='{{ res.0.1}}';
		document.getElementById('math').value='{{res.0.2 }}';
		document.getElementById('english').value='{{ res.0.3}}';
		document.getElementById('physics').value='{{ res.0.4}}';		
		document.getElementById('chinese').value='{{ res.0.5}}';		
		document.getElementById('history').value='{{ res.0.6}}';				
	}

	show();

</script>

</html>
—– BEGIN LICENSE —–
Ryan Clark
Single User License
EA7E-812479
2158A7DE B690A7A3 8EC04710 006A5EEB
34E77CA3 9C82C81F 0DB6371B 79704E6F
93F36655 B031503A 03257CCC 01B20F60
D304FA8D B1B4F0AF 8A76C7BA 0FA94D55
56D46BCE 5237A341 CD837F30 4D60772D
349B1179 A996F826 90CDB73C 24D41245
FD032C30 AD5E7241 4EAA66ED 167D91FB
55896B16 EA125C81 F550AF6B A6820916
—— END LICENSE ——