<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>search</title>
	</head>

	<body>
	<hr color="cornflowerblue"/>
		筛选：<br />
		<input type="text" name="" id="" value="" /> <br />
		<input type="text" name="" id="" value="" /> <br />
		<input type="checkbox" name="" id="" value="" /> <br />
		
	<hr color="cornflowerblue"/>
	<h1>Search Result:</h1>
	 <table border="1" cellspacing="0"  width="800" height="30">
	 	<tr >
	 		<td width="100"> No.</td>
	 		<td width="100"> id</td>
	 		<td width="100"> name</td>
	 		<td width="100"> show</td>
	 		<td width="100"> add</td>
	 		<td width="100"> update</td>
	 		<td width="100"> delete</td>
	 		<td width="100"> score</td>
	 	</tr>
	 </table>
	 <br />
	 <table border="1" cellspacing="0"  width="800" height="40" id="oop">
	 </table>
<hr color="cornflowerblue"/>
	</body>
<script >	
	function ok(str){
		document.getElementById("oop").innerHTML=str;
	};
	function next_page(th){ 
		//console.log(qq);
		var str00="<tr><td width='100'>"; //No
		var str01="</td><td width='100'>"; //id
		var str02="</td><td width='100'>"; //name
		var str03="</td><td width='100'><button onclick='show(this)' "; 
		var str05=">show</button></td><td width='100'><button onclick='add()'>add</button></td><td width='100'><button onclick='update(this)' " ;
		var str06=">update</button></td><td width='100'><button onclick='delete_(this)' " ;
		var str07=">delete</button></td><td width='100'><button onclick='score(this)' " ;
		var str08=">score</button></td></tr>";
		i=10*(th.id-1);
		str='';
		while(i<(10*(th.id-1)+10)){
			try{
				var str04="id='" +qq[i][0]+ "'";		
				str=str+str00+ (i+1) +str01+ qq[i][0] +str02+ qq[i][1] +str03+str04+str05+str04+str06+str04+str07+str04+str08;
  				i++;
  			}
  			catch(err){
  				console.log((i+1)+'  not exists..==>>error happen');
  				break;
  			}
		}
		astr='';	
		x=1;
		while (x<=page){
			astr=astr+"<button id='"+x+"' onclick='next_page(this)'>"+x+"</button>";
			x=x+1;
		}
		str=str+astr;
		document.getElementById("oop").innerHTML=str;
	};
	function show(qw){
		window.location.href="http://localhost:8000/student"+'?id='+qw.id+"&flag='show'";
	};
	function add(){
		window.location.href="http://localhost:8000/add" // '?id=0'+"&flag='add'"; //addORupdate
	};
	function update(qw){                                                            //addORupdate
		window.location.href="http://localhost:8000/update"+'?id='+qw.id;
	};
	function delete_(qw){
		window.location.href="http://localhost:8000/delete"+'?id='+qw.id;		
	};
	function score(qw){
		window.location.href="http://localhost:8000/score"+'?id='+qw.id;		
	}
	function deleteok(){
		alert(' delete ok.. ');
	}
	var total={{total}};  
	window.page=Math.ceil(total/10);
	var str00="<tr><td width='100'>"; //No
	var str01="</td><td width='100'>"; //id
	var str02="</td><td width='100'>"; //name
	var str03="</td><td width='100'><button onclick='show(this)' "; 
	var str05=">show</button></td><td width='100'><button onclick='add()'>add</button></td><td width='100'><button onclick='update(this)' " ;
	var str06=">update</button></td><td width='100'><button onclick='delete_(this)' " ;
	var str07=">delete</button></td><td width='100'><button onclick='score(this)' " ;
	var str08=">score</button></td></tr>";
	qq='{{res}}';
	qq=qq.replace(/&#39;/g,"'");
	qq=qq.replace(/\(/g,"[")
	qq=qq.replace(/\)/g,"]")
	window.qq=eval(qq) 
	console.log(qq);
	var i=0;
	str="";
	while(i<10){
		try{
			var str04="id='" +qq[i][0]+ "'";		
			str=str+str00+ (i+1) +str01+ qq[i][0] +str02+ qq[i][1] +str03+str04+str05+str04+str06+str04+str07+str04+str08;
  			i++;
  		}
  		catch(err){
  			console.log(i+' not exists..==>>error happen');
  			break;
  		}
	}
	astr='';	
	x=1;
	while (x<=page){
		astr=astr+"<button id='"+x+"' onclick='next_page(this)'>"+x+"</button>";
		x=x+1;
	}
	str=str+astr;
	ok(str);
	{{ delete_flag}}  //deleteok()

</script>
</html>
