<!DOCTYPE html5>
<html>
<head>
	<title>login</title>
</head>
<script >function button(){window.location.href='http://localhost:8000/signin';}
var flag={{flag}};
if (flag==0){alert("your password is not right..") };
</script>
<body>
<h1>start :</h1>
<hr color="cornflowerblue"/>
<form action="http://localhost:8000/login" > 
	<label>id:&nbsp;&nbsp;</label><input type="text" name="id" />
<br />
<br />
	<label>passwd:</label><input type="password" name="passwd" />
<br />
<br />
<input type="submit" name="login" value="login "/>
<input type="button" name="signin" value="signin" onclick="button()" />
</form>
<hr color="cornflowerblue"/>
</body>
</html>