<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>student</title>
	</head>
	<body>
		<label>id</label>&nbsp;&nbsp;&nbsp;<input type="text" name="" id="id" value="" /> <br />
		<label>name</label>&nbsp;&nbsp;<input type="text" name="" id="name" value="" /> <br />
		<label>sex</label>&nbsp;&nbsp;&nbsp;<input type="text" name="" id="sex" value="" /> <br/>
		<label>passwd</label>&nbsp;<input type="text" name="" id="passwd" value="" /> <br />
		<label>address</label>&nbsp;<input type="text" name="" id="address" value="" /> <br />	
		<button>update</button>&nbsp;&nbsp;<button>add</button>
	
	</body>

<script>
	function show(){
		document.getElementById('id').value='{{res.0.0}}';
		document.getElementById('name').value='{{ res.0.1}}';
		document.getElementById('passwd').value='{{res.0.2 }}';
		document.getElementById('sex').value='{{ res.0.3}}';
		document.getElementById('address').value='{{ res.0.4}}';		
	}
	function ok(flag) {
		if (flag=='show'){
			show(); }
		else if(flag=='update'){
			show(); }
		else if(flag=='add'){}
	}
	
	flag='{{ flag }}';
	flag=flag.replace(/&#39;/g,'');
	console.log(flag);
	ok(flag);
	
</script>

</html>
